
html,body {
    height: 100%;
    width: 100%;
}

.custom-bg {
    background-color: #224b4a;
}

.main-padding {
    padding: 10px 230px;
}

.custom-icon {
    color: white;
    font-size: 15px;
}

.custom-btn-color {
    color: indigo;
}

.inner-list {
    position: absolute;
    top: 40px;
    display: none;
    padding-top: 40px;
    background-color: rgba(34,75,76, 0.7);
    width: 100%;
}

.features {
    position: relative;
}

.features:hover .inner-list {
    display: block;
}

.main-bg {
    background-image: url("https://images.unsplash.com/photo-1606149407720-523a20a30f35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100% - 58px);
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .main-padding {
        padding: 0.3rem;
    }
}

@media screen and (max-width: 768px) {
    .main-padding {
        padding:  0.3rem;
    }
}

@media screen and (max-width: 576px) {
    .main-padding {
        padding:  0.3rem;
    }
}